<%= render 'menubar' %>

<body class="mx-auto container">

<h3>About Us</h3>

<p>At Distilling NC we love everything about craft distilled spirits and North Carolina! Liquor is the lifeblood of the south, it is the nectar that allowed the colonists to survive contaminated water sources.  It is the vice used in both celebration and mourning. From colonial days to today, distilled spirits have helped make family gatherings more palatable, celebrations merrier, and meals more complete. Distilled spirits bring people together.</p>
<h3>How Distilling NC was born</h3>
<p>The idea for Distilling NC was born out of a desire to bring together the fans of North Carolina spirits and the distilleries that make them.  We understand that finding all of these distilleries can be a challenge so we wanted to make that a little easier, by creating a single location for people like you to find who is out there. While we bring together people, we also want to help NC distillers tell their stories, these are the makers, the artisans, the chemists, and these are the people who are passionate about providing you with the spirits you love.</p>
<h3>Why North Carolina?</h3>
<a>It is no secret that North Carolina is a top producer of agriculture in the United States. NC is consistently in the top ten for overall agricultural production by receipts, <a href="https://data.ers.usda.gov/reports.aspx?ID=17844">according to the USDA</a>. So why not pull from the great history this state has in agriculture and the reputation we have for innovation to produce great distilled spirits.</p>
<h3>Historical Spirits</h3>
<p>North Carolina has long been known for its spirits, from the early 1700s with the introduction of kill-devil, or rum distilled from Caribbean molasses so potent it could “kill the devil himself.”  Later moving to corn and grain-based spirits such as moonshine and whiskey around the turn of the 19th century. It is only in the early 1900s with the beginning of the state’s prohibition law in 1909, that it starts to fade into the background on the national stage.  It is during prohibition that the number of distilleries shrinks from around 400 to just a few backwoods stills running.</p>
<h3>Modern Distilled Spirits in the North State</h3>
<p>Since the end of prohibition, the great North state has been slowly regaining ground in the spirits industry with the introduction of legislation giving for distilleries more opportunities to build relationships with their customers.  This includes allowing the purchase of spirits directly from distilleries and selling cocktails made from their own spirits and more.</p>


</body>