

@import "bootstrap";

.btn-primary {
  background-color: #00004F !important;
  border-color: #00004F !important;
}

body.home {
  margin-top: 2rem;
}

body {
  margin-top: 5rem;
}

.navbar {
  background-color: #AE502D !important;
}

.welcome_text {
  margin-left: 6%;
  margin-top: 3.5%;
}