<%= render "menubar" %>

<body class="mx-auto container">

  <% @regions.each do |region| %>

    <h3><%= region.region %></h3>
    <ul class="list-group list-group-flush">
      <% Distillery.all.where(region_id: region.id).map.sort_by(&:name).each do |d| %>
        <li class="list-group-item">
          <%= link_to d.name, distillery_path(d) %>
        </li>
      <% end %>
    </ul>
    <br>
  <% end %>

<br>
</body>